<a href="https://colab.research.google.com/github/Ashishjayswal/DataSet/blob/Ashish/python_for_interview.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>


# 1. Write a Python program to sum all the items in a list.

In [ ]:
def sum_list(items):
    sum_numbers = 0
    for x in items:
        sum_numbers += x
    return sum_numbers
print(sum_list([1,2,-8]))

-5

# Python program to multiply all values in the item in a list

In [ ]:
def multiplyList(myList):
	result = 1
	for x in myList:
		result = result * x
	return result


# Driver code
list1 = [1, 2, 3]
list2 = [3, 2, 4]
print(multiplyList(list1))
print(multiplyList(list2))

6
24

# 3. Write a Python program to get the largest number from a list.

In [ ]:
# python code to print largest element in the list

lst = [20, 10, 20, 4, 100]
print(max(lst, key=lambda value: int(value)))

100

# Write a Python program to get the smallest number from a list.

In [ ]:
a=[18, 52, 23, 41, 32]

# smallest number
smallest = a[0] if a else None

# find smallest
for i in a:
	if i<smallest:
		smallest=i

print("Smallest element is: ", smallest)

Smallest element is:  18

In [ ]:
def smallest_num_in_list( list ):
    min = list[ 0 ]
    for a in list:
        if a < min:
            min = a
    return min
print(smallest_num_in_list([1, 2, -8, 0]))

-8

###### Write a Python program to count the number of strings where the string length is 2 or more and the first and last character are same from a given list of strings.  
##### Sample List : ['abc', 'xyz', 'aba', '1221']
 ##### Expected Result : 2

In [ ]:
def match_words(words):
    ctr = 0

    for word in words:
        if len(word) > 1 and word[0] == word[-1]:
            ctr += 1
    return ctr

print(match_words(['abc', 'xyz', 'aba', '1221']))

2

# 
# 6. Write a Python program to get a list, sorted in increasing order by the last element in each tuple from a given list of non-empty tuples.  
# Sample List : [(2, 5), (1, 2), (4, 4), (2, 3), (2, 1)]
# Expected Result : [(2, 1), (1, 2), (2, 3), (4, 4), (2, 5)]

In [ ]:
def last(n): return n[-1]

def sort_list_last(tuples):
    return sorted(tuples, key=last)

print(sort_list_last([(2, 5), (1, 2), (4, 4), (2, 3), (2, 1)]))

[(2, 1), (1, 2), (2, 3), (4, 4), (2, 5)]

# without sort

In [ ]:
a=[(2, 5), (1, 2), (4, 4), (2, 3), (2, 1)]
for j in range (1,len(a)):
    for i in range(len(a)-j) :
        if a[i][1]>a[i+1][1]:
            temp=a[i]
            a[i]=a[i+1]
            a[i+1]=temp
for i in range(len(a)):
    print(a[i],end='')

(2, 1)(1, 2)(2, 3)(4, 4)(2, 5)

In [ ]:
a=[(2, 5), (1, 2), (4, 4), (2, 3), (2, 1)]
print(a[i][1])
print(a[i+1][1])

5
2

# # removing duplicate elements from the list

In [ ]:
# Python 3 code to demonstrate
l = [1, 2, 4, 2, 1, 4, 5]
print("Original List: ", l)
res = [*set(l)]
print("List after removing duplicate elements: ", res)

Original List:  [1, 2, 4, 2, 1, 4, 5]
List after removing duplicate elements:  [1, 2, 4, 5]

In [ ]:
# removing duplicates from list

# initializing list
test_list = [1, 5, 3, 6, 3, 5, 6, 1]
print ("The original list is : "+ str(test_list))

res = []
for i in test_list:
	if i not in res:
		res.append(i)

# printing list after removal
print ("The list after removing duplicates : "+ str(res))

The original list is : [1, 5, 3, 6, 3, 5, 6, 1]
The list after removing duplicates : [1, 5, 3, 6]

# Python code to check for empty list

In [ ]:
# Explicit way

def Enquiry(lis1):
	if len(lis1) == 0:
		return 0
	else:
		return 1

# Driver Code
lis1 = []
if Enquiry(lis1):
	print("The list is not empty")
else:
	print("Empty List")

Empty List

# Python code to clone or copy a list

In [ ]:
# Using the in-built function extend()
def Cloning(li1):
	li_copy = []
	li_copy.extend(li1)
	return li_copy

# Driver Code
li1 = [4, 8, 2, 10, 15, 18]
li2 = Cloning(li1)
print("Original List:", li1)
print("After Cloning:", li2)

Original List: [4, 8, 2, 10, 15, 18]
After Cloning: [4, 8, 2, 10, 15, 18]

# Python code to clone or copy a list

In [ ]:
l = [1,3,3,5,6]
c = l
print('old : ',l)
print('new :',c)

old :  [1, 3, 3, 5, 6]
new : [1, 3, 3, 5, 6]

# Write a Python program to find the list of words that are longer than n from a given list of words

In [ ]:
def long_words(n, str):
    word_len = []
    txt = str.split(" ")
    for x in txt:
        if len(x) > n:
            word_len.append(x)
    return word_len	
print(long_words(3, "The quick brown fox jumps over the lazy dog"))

['quick', 'brown', 'jumps', 'over', 'lazy']

# Write a Python function that takes two lists and returns True if they have at least one common member

In [ ]:
# Python program to check
# if two lists have at-least
# one element common
# using traversal of list

def common_data(list1, list2):
	result = False

	# traverse in the 1st list
	for x in list1:

		# traverse in the 2nd list
		for y in list2:
	
			# if one common
			if x == y:
				result = True
				return result
				
	return result
	
# driver code
list1 = [1, 2, 3, 4, 5]
list2 = [5, 6, 7, 8, 9]
print(common_data(list1, list2))

a = [1, 2, 3, 4, 5]
b = [6, 7, 8, 9]
print(common_data(a, b))

True
False

In [ ]:
# Python program to check
# if two lists have at-least
# one element common
# using set and property

def common_member(a, b):
	a_set = set(a)
	b_set = set(b)
	if (a_set & b_set):
		return True
	else:
		return False
		

a = [1, 2, 3, 4, 5]
b = [5, 6, 7, 8, 9]
print(common_member(a, b))

a =[1, 2, 3, 4, 5]
b =[6, 7, 8, 9]
print(common_member(a, b))

True
False

# Python program to print a specified list after removing the 0th, 4th and 5th elements.  
# Sample List : ['Red', 'Green', 'White', 'Black', 'Pink', 'Yellow']
# Expected Output : ['Green', 'White', 'Black']

In [ ]:
color = ['Red', 'Green', 'White', 'Black', 'Pink', 'Yellow']
color = [x for (i,x) in enumerate(color) if i not in (0,4,5)]
print(color)

['Green', 'White', 'Black']

# 13. Write a Python program to generate a 3*4*6 3D array whose each element is *.

In [ ]:
array = [[ ['*' for col in range(6)] for col in range(4)] for row in range(3)]
print(array)

[[['*', '*', '*', '*', '*', '*'], ['*', '*', '*', '*', '*', '*'], ['*', '*', '*', '*', '*', '*'], ['*', '*', '*', '*', '*', '*']], [['*', '*', '*', '*', '*', '*'], ['*', '*', '*', '*', '*', '*'], ['*', '*', '*', '*', '*', '*'], ['*', '*', '*', '*', '*', '*']], [['*', '*', '*', '*', '*', '*'], ['*', '*', '*', '*', '*', '*'], ['*', '*', '*', '*', '*', '*'], ['*', '*', '*', '*', '*', '*']]]

In [ ]:
array = [['*' for col in range(6)]]
print(array)

[['*', '*', '*', '*', '*', '*']]

# Write a Python program to print the numbers of a specified list after removing even numbers from it.

In [ ]:
num = [7,8, 120, 25, 44, 20, 27]
num = [x for x in num if x%2!=0]
print(num)

[7, 25, 27]

In [ ]:
import random 
n = [1,2,3,4,5]
print('original number ',n)
random.shuffle(n)
print('suffle number ',n)

original number  [1, 2, 3, 4, 5]
suffle number  [1, 3, 5, 2, 4]

# Write a Python program to generate and print a list of first and last 5 elements where the values are square of numbers between 1 and 30 (both included).

In [ ]:
def printValues():
	l = []
	for i in range(1,21):
		l.append(i**2)
	print('This is first 5',l[:5])
	print('this is last five',l[-5:])

printValues()

This is first 5 [1, 4, 9, 16, 25]
this is last five [256, 289, 324, 361, 400]

# Write a Python program to generate all permutations of a list in Python.

In [ ]:
import itertools
print(list(itertools.permutations([1,2,3])))

[(1, 2, 3), (1, 3, 2), (2, 1, 3), (2, 3, 1), (3, 1, 2), (3, 2, 1)]

# without inbilt function

In [ ]:
def permuta(lst):
    if len(lst)==0:
        return []
    if len(lst) ==1:
        return [lst]
    l = []
    for i in range(len(lst)):
        r = lst[i]
        ravi = lst[:i]+lst[i+1:]
    for v in permuta(ravi):
            l.append([r]+v)
    return l
d = list('1234')
for v in permuta(d):
    print(v)

['4', '3', '2', '1']

In [ ]:
def per(lst):
    if len(lst)==0:
        return []
    
d = list('1234')
for v in per(d):
    print(v)

['1', '2', '3', '4']

In [ ]:
def perm(start, end=[]):
    if(len(start) == 0):
        print(end)
    else:
        for i in range(len(start)):
            perm(start[:i] + start[i+1:], end + start[i:i+1])
            
#function call
perm([1,2,3])

[1, 2, 3]
[1, 3, 2]
[2, 1, 3]
[2, 3, 1]
[3, 1, 2]
[3, 2, 1]

# 19. Write a Python program to get the difference between the two lists.

In [ ]:
list1 = [1, 3, 5, 7, 9]
list2=[1, 2, 4, 6, 7, 8]
diff_list1_list2 = list(set(list1) - set(list2))
diff_list2_list1 = list(set(list2) - set(list1))
total_diff = diff_list1_list2 + diff_list2_list1
print(total_diff)

[9, 3, 5, 8, 2, 4, 6]

In [ ]:
a = [9, 3, 5, 8, 2, 4, 6]
print(a[:3])

[9, 3, 5]

# 21. Write a Python program to convert a list of characters into a string.

In [ ]:
s = ['a', 'b', 'c', 'd']
str1 = ''.join(s)
print(str1)

abcd

# Fallten list

In [ ]:

import itertools
 
List_1 = [[1,2,3],[4,5,6],[7,8,9]] #List to be flattened
 
List_flat = list(itertools.chain(*List_1))
 
print(List_flat)

[1, 2, 3, 4, 5, 6, 7, 8, 9]

In [ ]:
regular_list = [[1, 2, 3, 4], [5, 6, 7], [8, 9]]
flat_list = [item for sublist in regular_list for item in sublist]
print('Original list', regular_list)
print('Transformed list', flat_list)

Original list [[1, 2, 3, 4], [5, 6, 7], [8, 9]]
Transformed list [1, 2, 3, 4, 5, 6, 7, 8, 9]

# 26. Write a python program to check whether two lists are circularly identical.

In [ ]:

list1 = [10, 10, 0, 0, 10]
list2 = [10, 10, 10, 0, 0]
list3 = [1, 10, 10, 0, 0]

print('Compare list1 and list2')
print(' '.join(map(str, list2)) in ' '.join(map(str, list1 * 2)))
print('Compare list1 and list3')
print(' '.join(map(str, list3)) in ' '.join(map(str, list1 * 2)))

Compare list1 and list2
True
Compare list1 and list3
False


# 28. Write a Python program to find the second largest number in a list.

In [ ]:
def second(lst):
    l = [x for x in lst if x<max(lst)]
    return max(l)
if __name__=='__main__':
    lst = [2,44,55,64,66]
    print(second(lst))

64

# 29. Write a Python program to get unique values from a list.

In [ ]:
my_list = [10, 20, 30, 40, 20, 50, 60, 40]
print("Original List : ",my_list)
my_set = set(my_list)
my_new_list = list(my_set)
print("List of unique numbers : ",my_new_list)

Original List :  [10, 20, 30, 40, 20, 50, 60, 40]
List of unique numbers :  [40, 10, 50, 20, 60, 30]

# Count the frequecy of the list

In [ ]:
l = ['r','r','s','r']
f = {}
for item in l:
    if item in f:
        f[item]+=1
    else:
        f[item] = 1
print(f)

{'r': 3, 's': 1}

# check the sublist in the list

In [ ]:
def is_Sublist(l, s):
	sub_set = False
	if s == []:
		sub_set = True
	elif s == l:
		sub_set = True
	elif len(s) > len(l):
		sub_set = False

	else:
		for i in range(len(l)):
			if l[i] == s[0]:
				n = 1
				while (n < len(s)) and (l[i+n] == s[n]):
					n += 1
				
				if n == len(s):
					sub_set = True

	return sub_set

a = [2,4,3,5,7]
b = [4,3]
c = [3,7]
print(is_Sublist(a, b))
print(is_Sublist(a, c))

True
False

In [ ]:
list1 = [2,3,5,1]
list2 = [2,3]

all(i in list2 for i in list1)

False

In [ ]:
a = [2,4,3,5,7]
b = [3,5,2]
b in [a[i:len(b)+i] for i in range(len(a))]

False

# Create sublist of the list

In [ ]:
def ravi(a):
    b = [[]]
    for i in range(len(a)+1):
        for j in range(i+1,len(a)+1):
            sub = a[i:j]
            b.append(sub)
    return b
a = list()
n = int(input('enter size of list :'))
print('enter element')
for i in range(int(n)):
    k = int(input('input of number'))
    a.append(k)
print('sunlist is :',ravi(a))

enter size of list :3
enter element
input of number1
input of number2
input of number3
sunlist is : [[], [1], [1, 2], [1, 2, 3], [2], [2, 3], [3]]

# Prime number using in sieve of eratosthenes step

In [ ]:
def prime_eratosthenes(n):
    prime_list = []
    for i in range(2, n+1):
        if i not in prime_list:
            print (i)
            for j in range(i*i, n+1, i):
                prime_list.append(j)

print(prime_eratosthenes(100));

2
3
5
7
11
13
17
19
23
29
31
37
41
43
47
53
59
61
67
71
73
79
83
89
97
None

##### Write a Python program to create a list by concatenating a given list which range goes from 1 to n.  
##### Sample list : ['p', 'q']
##### n =5
##### Sample Output : ['p1', 'q1', 'p2', 'q2', 'p3', 'q3', 'p4', 'q4', 'p5', 'q5']

In [ ]:
my_list = ['p', 'q']
n = 4
new_list = ['{}{}'.format(x, y) for y in range(1, n+1) for x in my_list]
print(new_list)

['p1', 'q1', 'p2', 'q2', 'p3', 'q3', 'p4', 'q4']

# Write a Python program to get variable unique identification number or string.

In [ ]:
x = 100
print(format(id(x), 'x'))
s = 'w3resource'
print(format(id(s), 'x'))

2c9604b55d0
2c966e8f9b0

# 37. Write a Python program to find common items from two lists.

In [ ]:
color1 = "Red", "Green", "Orange", "White"
color2 = "Black", "Green", "White", "Pink"
print(set(color1) & set(color2))

{'Green', 'White'}

#### 38. Write a Python program to change the position of every n-th value with the (n+1)th in a list.  
#### Sample list: [0,1,2,3,4,5]
#### Expected Output: [1, 0, 3, 2, 5, 4]

In [ ]:
from itertools import zip_longest, chain, tee
def replace2copy(lst):
    lst1, lst2 = tee(iter(lst), 2)
    return list(chain.from_iterable(zip_longest(lst[1::2], lst[::2])))
n = [0,1,2,3,4,5]
print(replace2copy(n))

[1, 0, 3, 2, 5, 4]

##### 39. Write a Python program to convert a list of multiple integers into a single integer.  
##### Sample list: [11, 33, 50]
###### Expected Output: 113350

In [ ]:
L = [11, 33, 50]
print("Original List: ",L)
x = int("".join(map(str, L)))
print("Single Integer: ",x)

Original List:  [11, 33, 50]
Single Integer:  113350

#### 40. Write a Python program to split a list based on first character of word.

In [ ]:
def splitLst(x):
    dictionary = dict()
    for word in x:
        f = word[0]
    if f in dictionary.keys():
        dictionary[f].append(word)
    else:
        dictionary[f] = [word]
    return dictionary

splitLst(['About', 'Absolutely', 'After', 'Aint', 'Alabama','AlabamaBill', 'All', 'Also', 'Amos', 'And', 'Anyhow', 'Are', 'As', 'At', 'Aunt', 'Aw', 'Bedlam', 'Behind', 'Besides', 'Biblical', 'Bill', 'Billgone'])

{'B': ['Billgone']}

In [ ]:
from itertools import groupby
from operator import itemgetter

word_list = ['be','have','do','say','get','make','go','know','take','see','come','think',
     'look','want','give','use','find','tell','ask','work','seem','feel','leave','call']

for letter, words in groupby(sorted(word_list), key=itemgetter(0)):
    print(letter)
    for word in words:
        print(word)

a
ask
b
be
c
call
come
d
do
f
feel
find
g
get
give
go
h
have
k
know
l
leave
look
m
make
s
say
see
seem
t
take
tell
think
u
use
w
want
work

###### 41. Write a Python program to create multiple lists.

In [ ]:
obj = {}
for i in range(1, 21):
    obj[str(i)] = []
print(obj)

{'1': [], '2': [], '3': [], '4': [], '5': [], '6': [], '7': [], '8': [], '9': [], '10': [], '11': [], '12': [], '13': [], '14': [], '15': [], '16': [], '17': [], '18': [], '19': [], '20': []}

In [ ]:
list1 = ['a','b','c','d','e','f']
list2 = ['d','e','f','g','h']
print('Missing values in second list: ', ','.join(set(list1).difference(list2)))
print('Additional values in second list: ', ','.join(set(list2).difference(list1)))

Missing values in second list:  b,c,a
Additional values in second list:  h,g

In [ ]:
# for the number 

a = []
b = []
n1 = int(input('enter number of size 1st list :'))
n2 = int(input('enter number of size 1st list :'))

for i in range(n1):
    k = int(input(''))
    a.append(k)
print('enter second element')
for j in range(n2):
    k1 = int(input(''))
    b.append(k1)
#print the missing element

print('missing 1st list :',(set(b).difference(a)))
print('missing 2nd list :',(set(a).difference(b)))

enter number of size 1st list :5
enter number of size 1st list :5
8
6
2
9
3
enter second element
6
7
2
1
3
missing 1st list : {1, 7}
missing 2nd list : {8, 9}

##### Write a Python program to split a list into different variables.

In [ ]:
color = [("Black", "#000000", "rgb(0, 0, 0)"), ("Red", "#FF0000", "rgb(255, 0, 0)"),
         ("Yellow", "#FFFF00", "rgb(255, 255, 0)")]
var1, var2, var3 = color
print(var1)
print(var2)
print(var3)

('Black', '#000000', 'rgb(0, 0, 0)')
('Red', '#FF0000', 'rgb(255, 0, 0)')
('Yellow', '#FFFF00', 'rgb(255, 255, 0)')

##### Write a Python program to generate groups of five consecutive numbers in a list.

In [ ]:
l = [[5*i + j for j in range(1,6)] for i in range(5)]
print(l)

[[1, 2, 3, 4, 5], [6, 7, 8, 9, 10], [11, 12, 13, 14, 15], [16, 17, 18, 19, 20], [21, 22, 23, 24, 25]]

##### Write a Python program to convert a pair of values into a sorted unique array.

In [ ]:
L = [(1, 2), (3, 4), (1, 2), (5, 6), (7, 8), (1, 2), (3, 4), (3, 4),
 (7, 8), (9, 10)]
print("Original List: ", L)
print("Sorted Unique Data:",sorted(set().union(*L)))

Original List:  [(1, 2), (3, 4), (1, 2), (5, 6), (7, 8), (1, 2), (3, 4), (3, 4), (7, 8), (9, 10)]
Sorted Unique Data: [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [ ]:
l = [5,8,3,8,2,8]
a = []
for i in l:
    if i%2!=0:
        a.append(i)
print(a)

[5, 3]

##### Write a Python program to convert list to list of dictionaries.

In [ ]:
color_name = ["Black", "Red", "Maroon", "Yellow"]
color_code = ["#000000", "#FF0000", "#800000", "#FFFF00"]
print([{'color_name': r, 'color_code': c} for r, c in zip(color_name, color_code)])

[{'color_name': 'Black', 'color_code': '#000000'}, {'color_name': 'Red', 'color_code': '#FF0000'}, {'color_name': 'Maroon', 'color_code': '#800000'}, {'color_name': 'Yellow', 'color_code': '#FFFF00'}]

##### Write a Python program to split a list every Nth element.

In [ ]:
C = ['a', 'b', 'c', 'd', 'e', 'f', 'g', 'h', 'i', 'j', 'k', 'l', 'm', 'n']
def list_slice(S, step):
    return [S[i::step] for i in range(step)]
print(list_slice(C,2))

[['a', 'c', 'e', 'g', 'i', 'k', 'm'], ['b', 'd', 'f', 'h', 'j', 'l', 'n']]

##### Write a Python program to move all zero digits to end of a given list of numbers. Go to the editor
#### Expected output:
#### Original list:
##### [3, 4, 0, 0, 0, 6, 2, 0, 6, 7, 6, 0, 0, 0, 9, 10, 7, 4, 4, 5, 3, 0, 0, 2, 9, 7, 1]
###### Move all zero digits to end of the said list of numbers:
###### [3, 4, 6, 2, 6, 7, 6, 9, 10, 7, 4, 4, 5, 3, 2, 9, 7, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0]

In [ ]:
def test(lst):
    result = sorted(lst, key=lambda x: not x) 
    return result
nums = [3,4,0,0,0,6,2,0,6,7,6,0,0,0,9,10,7,4,4,5,3,0,0,2,9,7,1]
print("\nOriginal list:")
print(nums)
print("\nMove all zero digits to end of the said list of numbers:")
print(test(nums))

Original list:
[3, 4, 0, 0, 0, 6, 2, 0, 6, 7, 6, 0, 0, 0, 9, 10, 7, 4, 4, 5, 3, 0, 0, 2, 9, 7, 1]

Move all zero digits to end of the said list of numbers:
[3, 4, 6, 2, 6, 7, 6, 9, 10, 7, 4, 4, 5, 3, 2, 9, 7, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0]

In [ ]:

nums = [3,4,0,0,0,6,2,0,6,7,6,0,0,0,9,10,7,4,4,5,3,0,0,2,9,7,1]


new_list = [nums for nums in nums if nums != 0]+ [nums for nums in nums if nums == 0]
print(new_list,end='')

[3, 4, 6, 2, 6, 7, 6, 9, 10, 7, 4, 4, 5, 3, 2, 9, 7, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0]

###### . Write a Python program to find the list in a list of lists whose sum of elements is the highest. Go to the editor

In [ ]:
num = [[1,2,3], [4,5,6], [10,11,12], [7,8,9]]
#print(max(num, key=sum))
a,b,c,d =num
r = sum(a)
t = sum(b)
y = sum(c)
h = sum(d)
if r>t and r>y and r>h:
    print('r is big',a)
if t>r and t>y and t>h:
    print('t is big',b)
    
if y>t and y>r and y>h:
    print('y is big',c)
    
if h>t and h>y and h>r:
    print('h is big',d)

y is big [10, 11, 12]

##### Write a Python program to remove duplicates from a list of lists.

In [ ]:


num = [[10,20], [40], [30, 56, 25], [10, 20], [33], [40]]
b = []
for i in num:
        if i not in b:
            b.append(i)
print(b)

[[10, 20], [40], [30, 56, 25], [33]]

##### Write a Python program to find the items starts with specific character from a given list.

In [ ]:
a='b'
lst = ["abcd", "abc", "bcd", "bkie", "cder", "cdsw", "sdfsd", "dagfa", "acjd"]

r = [i for i in lst if i.startswith(a)]
r

['bcd', 'bkie']

##### Write a Python program to check whether all dictionaries in a list are empty or not.

In [ ]:
l1 = [{},{},{}]
l2 = [{1:2},{},{}]
print(all(not d for d in l1))
print(all(not d for d in l2))

True
False